body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  color: #66BFBF;
  font-size: 562.5%;
  font-family: 'Dancing Script', cursive;
  margin: 50px auto 0 auto
}

h2 {
  font-size: 2rem;
  color: #66BFBF;
}

h3 {
  color: #11999E;
}

a {
  color:  #11999E;
}

.pro {
  text-decoration: underline;
}

.top-container {
  background-color: #37E2D5;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.bottom-cloud {
  position: absolute;
  left: 180px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 140px;
  top: 30px;
}

.zero-two {
  width: 150px;
  margin-top: 20px;
}

.skill-row {

}
